
/*
* {
    border: 1px solid black;
}
*/
.booContainer {
}

#boo {
    display: flex;
    justify-content: space-around;

}

.button {
   background-color: white;
   color: black;
   font-style: oblique;

}

.image {
    float:right;
    height: 150px;
    width:150px;
}

h1 {
    text-align: center;
    font-style: oblique;
}

.noteInput{
    font-style: oblique;
}

.octaveInput {
    font-style: oblique;
}

.container {
    float: left;
    position: relative;
}

.intervalScoring.false {
    background-color: red;
    float: left;
    height: 75px;
    width: 75px;
    margin: 5px;
}

.intervalScoring.true {
    background-color: green;
    float: left;
    height: 75px;
    width: 75px;
    margin: 5px;
}