<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameMenu</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css"/>
</head>
<body>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTJQhNprdLuqdK__vEoQfoaC5n9equzV-0rRfuR92U15GISME8VUmZVlQ">
<br><br>
Please Select A Game Mode
<br><br>
<input type="button" value="Intervals"/>
<input type="button" value="Scales"/>
<input type="button" value="Chord"/>
</body>
</html>