<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->
<head>
    <meta charset="UTF-8">
    <title>Ear Trainer</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="//npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="//use.fontawesome.com/57f4de6621.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css"/>
</head>
<body ng-controller="midi-controller" class="container registerBackground">
<br>
<form class="logoutContainer" action="logout" method="post" ng-if="isLive" ng-click="logout()">
    <!--<input type="image" src="http://findicons.com/files/icons/2352/frankfurt/32/logout.png"  class="logout" type="submit" value="Logout"/>-->
    <i class="fa fa-sign-out fa-3x" aria-hidden="true" class="logout" style="color:red"></i>
</form>
<h1 class="menuAppTitle">Ear Trainer</h1>
<br>
<div ng-if="isLive==false" class="formcontainer">
    <form class="form1">
        <div class="form-group">
            <label for="loginusername"></label>
            <input type="text" class="form-control" id="loginusername" placeholder="Email" ng-model="loginContainer.email" style="width:200px">
        </div>
        <div class="form-group">
            <label for="loginpassword"></label>
            <input type="password" class="form-control" id="loginpassword" placeholder="Password" ng-model="loginContainer.password" style="width:200px">
        </div>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="login(loginContainer)">Login</button>
    </form>
    <br><br>
    <form class="form">
        <div class="form-group">
            <label for="registeremail"></label>
            <input type="email" class="form-control" id="registeremail" placeholder="Email" ng-model="registerContainer.email" style="width:200px">
        </div>
        <div class="form-group">
            <label for="registerpassword"></label>
            <input type="password" class="form-control" id="registerpassword" placeholder="Password" ng-model="registerContainer.password" style="width:200px">
        </div>
        <div class="form-group">
            <label for="registerfirstname"></label>
            <input type="text" class="form-control" id="registerfirstname" placeholder="First Name" ng-model="registerContainer.firstName" style="width:200px">
        </div>
        <div class="form-group">
            <label for="registerlastname"></label>
            <input type="text" class="form-control" id="registerlastname" placeholder="Last Name" ng-model="registerContainer.lastName" style="width:200px">
        </div>
        <button type="submit" class="btn btn-lg btn-primary" ng-click="register(registerContainer)">Register</button>
    </form>
</div>

<div class="chooseGameMode" ng-if="isLive">
    <!--<div class="opacity" ng-if="isLive"></div>-->
    <h1>Welcome, {{user.firstName}}!</h1>
    <br><br>
</div>
<div class="chooseGameMode" ng-if="isLive">
    <h2>Please choose a game mode</h2>
</div>
<br><br>
<div class="gameMode" ng-if="isLive">
    <a href="#" class="btn btn-lg btn-success" onclick="window.location.href='/intGameMenu'">Intervals</a>
</div>
<h3 class="gameMode" ng-if="isLive">Training your ear to listen for and identify intervals.</h3>
<br><br>
<div class="gameMode" ng-if="isLive">
    <a href="#" class="btn btn-lg btn-success" onclick="window.location.href='/scalesMenu'">Scales</a>
</div>
<h3 class="gameMode" ng-if="isLive">Training your ear to listen for and identify scales.</h3>
<br><br>

<div class="gameMode" ng-if="isLive">
    <a href="#" class="btn btn-lg btn-success" onclick="window.location.href='/midi'">Sandbox</a>
</div>
<h3 class="gameMode" ng-if="isLive">Playing around with Chords, Scales, and Intervals</h3>
<br><br>

<div class="moreLater" ng-if="isLive">
    <h3>*More games to come at a later date</h3>
</div>
<div class="futureGames" ng-if="isLive">
    <a href="#" class="btn btn-lg btn-danger">Chords</a>
</div>
</body>
</html>