<!DOCTYPE html>
<html lang="en" ng-app="MusicTheoryTrainer">
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->
<head>
    <meta charset="UTF-8">
    <title>Musictheorytrianer</title>
    Music Theory Trainer
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/tiy-ng-controller.js"></script>
<div>
    
</div>

</body>
</html>