<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
    {{! changing the mustache delimiter so it doesn't conflict with  }}
    {{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
    {{=<% %>=}}
    --->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="../static/js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>
    <script src="js/teoria.js"></script>
    <script src="../static/js/teoria.js"></script>
    <link rel="stylesheet" href="stylesheet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <img class="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTJQhNprdLuqdK__vEoQfoaC5n9equzV-0rRfuR92U15GISME8VUmZVlQ">
<h1>Music Theory Trainer</h1>

</head>
<body ng-controller="midi-controller">
<input type="hidden" ng-init="getUser()"/>

    <div class="booContainer">
        <div id="boo"></div>
    </div>
    <div class="container">
        <a href="#" class="btn btn-xs btn-primary" ng-click="userInput()"><span class="glyphicon glyphicon-music"></span>Start Edutainment</a>
        <br>
        <a href="#" class="btn btn-xs btn-success" ng-click="playInterval()"><span class="glyphicon glyphicon-play-circle"></span> Play Interval</a>
    </div>
    <br/><br/><br>
    <span class="answerChoices">
        <p>Please choose an interval</p>
        <input type="radio" value="P1" ng-model="answer"/>P1
        <input type="radio" value="m2" ng-model="answer"/>m2
        <input type="radio" value="M2" ng-model="answer"/>M2
        <input type="radio" value="m3" ng-model="answer"/>m3
        <input type="radio" value="M3" ng-model="answer"/>M3
        <input type="radio" value="P4" ng-model="answer"/>P4
        <input type="radio" value="TT" ng-model="answer"/>TT
        <input type="radio" value="P5" ng-model="answer"/>P5
        <input type="radio" value="m6" ng-model="answer"/>m6
        <input type="radio" value="M6" ng-model="answer"/>M6
        <input type="radio" value="m7" ng-model="answer"/>m7
        <input type="radio" value="M7" ng-model="answer"/>M7
        <a href="#" class="btn btn-xs btn-default" ng-click="checkAnswer(answer)"><span class="glyphicon glyphicon-ok"></span> Check Interval</a>

    </span>

    </div>
        <p>Number of right/wrong</p>
        {{intervalScoring}}
        <div ng-if="filter.length >= 8">
            <p>You are the bees knees!</p>
            <input type="button" value="Advance to the next level!" ng-click="nextIntervalLevel()"/>
        </div>
    </div>

</body>
</html>

<script src="//npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
