<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--
    {{! changing the mustache delimiter so it doesn't conflict with  }}
    {{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
    {{=<% %>=}}
    --->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="../static/js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>
    <script src="js/teoria.js"></script>
    <script src="../static/js/teoria.js"></script>
    <link rel="stylesheet" href="stylesheet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css"/>
</head>




<body ng-controller="midi-controller" id="gameBackground">

    <a href="#" class="btn btn-sm btn-success nav-btn" onclick="window.location.href='/intGameMenu'"><span class="glyphicon glyphicon-arrow-left"></span> Level Select</a>

    <br><br><br><br>

    <h1>Music Theory Trainer</h1>

    <br><br>
    <input type="hidden" ng-init="onPageLoad()"/>
    <div class="booContainer">
        <div id="boo"></div>
    </div>
    <div class="container">
        <a href="#" class="btn btn-primary btn-primary"  ng-click="userInput()"><span class="glyphicon glyphicon-music"></span> Start Edutainment</a>

        <a href="#" ng-if="playCounter < 2" class="btn btn-primary btn-success" ng-click="playInterval()"><span class="glyphicon glyphicon-play-circle"></span> Play Interval</a>
    </div>
    <br/><br/><br>
    <div class="instructionContainer">
        <h4>Please choose an interval:</h4>

    </div>

    <div id="answerChoicesContainer">
        <span class="answerChoices" ng-repeat="interval in allIntervals">
            <input style="inline-block" type="radio" value="{{interval.interval}}" ng-model="$parent.answer"/>{{interval.interval}}
        </span>
    </div>

    <div class="checkAnswerContainer">
        <a ng-if="currentAnswer == null" href="#" class="btn btn-xs btn-default" ng-click="checkAnswer(answer)"><span class="glyphicon glyphicon-ok"></span> Check Interval</a>
    </div>

    <div class="answers">
        <h5>Number of right/wrong</h5>
    </div>

    <div class="pointsContainer">

        <div class="points"  id="something" ng-repeat="cindex in intervalScoring track by $index">
            <br>
            <div class="truePoint" ng-if="cindex == true"></div>
            <div class="falsePoint" ng-if="cindex == false"></div>
        </div>
        <div ng-if="filter.length >= 8">
            <p>You are the bees knees!</p>
            <input type="button" value="Advance to the next level!" ng-click="nextIntervalLevel()"/>
        </div>
    </div>

</body>
</html>

<script src="//npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
