<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="../static/js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>
    <script src="js/teoria.js"></script>
    <script src="../static/js/teoria.js"></script>
    <script src="//npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css"/>

</head>
<body ng-controller="midi-controller">
<div>
    <input type="hidden" ng-init="getUser()"/>
    <h3>Please choose a level</h3>
    <p>You have the following levels open to play:</p>
    <p ng-if="maxIntervalLevel.levelNumber >=1">Level 1</p>
    <p ng-if="maxIntervalLevel.levelNumber >=2">Level 2</p>
    <p ng-if="maxIntervalLevel.levelNumber >=3">Level 3</p>
    <p ng-if="maxIntervalLevel.levelNumber >=4">Level 4</p>
    <input type="text" placeholder="Please type level number" ng-model="lvlnumber"/>
    <a href="#" class="btn btn-success" ng-click="setCurrentIntervalLevel(lvlnumber)" onclick="window.location.href='/intGame'"><span class="glyphicon glyphicon-music" ></span></a>
    <!--<a href="#" class="btn btn-success" ng-click="setCurrentIntervalLevel(lvlnumber)">Set Level Number</a>-->
    <!--<a href="#" class="btn btn-success"  onclick="window.location.href='/intGame'">Start Level {{currentIntervalLevel.levelNumber}}</a>-->
</div>

</body>
</html>
