<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicTheoryAppLogin</title>
</head>
<body>
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTJQhNprdLuqdK__vEoQfoaC5n9equzV-0rRfuR92U15GISME8VUmZVlQ">
Music Theory Trainer
<br><br><br>
Log-in
<form action="/login" method="post">
    <input type="text" placeholder="Email" name="loginEmail" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="Go!">Login</button>
</form>
<br><br><br><br>

</body>
</html>