<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="../static/js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>
    <script src="js/teoria.js"></script>
    <script src="../static/js/teoria.js"></script>


    <!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->


</head>
<body ng-controller="midi-controller">

<div>

</div>
<input type="text" placeholder="Note" ng-model="noteContainer.note" placeholder="value">
<input type="text" placeholder="Octave" ng-model="noteContainer.octave" placeholder="octave">
<input type="button" value="Print note on score" ng-click="userInput(noteContainer)"/>

<div id="boo">Hi i'm div</div>
<input type="button" ng-click="playExample()" value="Pull the lever!"/>

<!--<input type="button" ng-click="userInput()" value="Show score"/>-->

<input type="button" ng-click="chords()" value="Play me some chords!"/>

    <div>
        <p>Give me a note, and an interval!</p>
        <input type="text" ng-model="note.name" placeholder="Note"/>
        <input type="text" ng-model="note.octave" placeholder="Octave"/>
        <input type="text" ng-model="note.interval" placeholder="Interval"/>
        <input type="button" ng-click="stuff(note)" value="Do the thing!"/>
        {{a4}}
    </div>

    <div>
        <input type="text" value="{{a4}}" placeholder="Tone frequency"/>
        <input type="button" ng-click="playFreq()" value="Get pitch-slapped!"/>
    </div>
<span>
    <p>Please choose an interval: P1, m2, M2, m3, M3</p>
    <input type="radio" value="P1" ng-model="answer"/>P1
    <input type="radio" value="m2" ng-model="answer"/>m2
    <input type="radio" value="M2" ng-model="answer"/>M2
    <input type="radio" value="m3" ng-model="answer"/>m3
    <input type="radio" value="M3" ng-model="answer"/>M3
</span>
<span>
    <div>
        <input type="button" value="Check interval" ng-click="checkAnswer(answer)"/>
    </div>
</span>

</body>

</html>

<script src="https://npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<script src="js/score.js"></script>
<script src="../static/js/score.js"></script>
