<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="../static/js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>
    <script src="js/teoria.js"></script>
    <script src="../static/js/teoria.js"></script>


    <!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->


</head>
<body ng-controller="midi-controller">

<div>

</div>
<div id="boo">Hi i'm div</div>
<div id="boo2">Hi i'm div2</div>
<input type="button" ng-click="playExample()" value="Pull the lever!"/>
<input type="text" placeholder="Pitch" ng-bind="noteContainer"/>
<input type="button" ng-click="score()" value="Show score"/>
<!--<input type="button" ng-click="userInput()" value="Show score"/>-->

<input type="button" ng-click="chords()" value="Play me some chords!"/>

    <div>
        <p>Give me a note, and an interval!</p>
        <input type="text" ng-model="note.name" placeholder="Note"/>
        <input type="text" ng-model="note.octave" placeholder="Octave"/>
        <input type="text" ng-model="note.interval" placeholder="Interval"/>
        <input type="button" ng-click="stuff(note)" value="Do the thing!"/>
        {{a4}}
    </div>

    <div>
        <input type="text" value="{{a4}}" placeholder="Tone frequency"/>
        <input type="button" ng-click="playFreq()" value="Get pitch-slapped!"/>
    </div>


</body>

</html>

<script src="https://npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<script src="js/score.js"></script>
<script src="../static/js/score.js"></script>
