<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>

</head>
<body ng-controller="midi-controller">

<div>

</div>
<div id="boo">Hi i'm div</div>
<div id="boo2">Hi i'm div2</div>
<input type="button" ng-click="playExample()" value="Pull the lever!"/>


</body>

</html>

<script src="https://npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
<script src="js/score.js"></script>
<script src="../static/js/score.js"></script>
