<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterUser</title>
</head>
<body>
<img class="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTJQhNprdLuqdK__vEoQfoaC5n9equzV-0rRfuR92U15GISME8VUmZVlQ">
Music Theory Trainer
<br><br><br>
Create New Player
<br><br>
<form action="/newuser" method="post">
    <input type="text" placeholder="First Name" name="firstName" required/>
    <input type="text" placeholder="Last Name" name="lastName" required/>
    <br><br>
    <input type="text" placeholder="Email" name="registerEmail" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Go!</button>
</form>
</body>
</html>