<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<head>
    <meta charset="UTF-8">
    <title>Scales Game</title>
    <!--
    {{! changing the mustache delimiter so it doesn't conflict with  }}
    {{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
    {{=<% %>=}}
    --->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="../static/js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>
    <script src="js/teoria.js"></script>
    <script src="../static/js/teoria.js"></script>
    <link rel="stylesheet" href="stylesheet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet.css"/>
</head>
<body ng-controller="scale-controller" class="background">
<a href="#" class="btn btn-sm btn-primary nav-btn" onclick="window.location.href='/scalesMenu'"><span class="glyphicon glyphicon-arrow-left"></span> Level Select</a>
<h1>Scales</h1>
<input type="hidden" ng-init="onGameLoad()"/>
<div class="booContainer">
    <div id="boo"></div>
</div>
<div class="answerChoices">
    <div class="answerChoices" ng-if="playCounter != 0"><a href="#" class="btn btn-primary btn-primary" ng-click="playScale()"><span class="glyphicon glyphicon-play-circle"></span> Play Scale</a>
        <h4>You have {{playCounter}} plays remaining</h4>
    </div>
    <div class="answerChoices" ng-if="playCounter == 0"><a href="#" class="btn btn-default btn-default"><span class="glyphicon glyphicon-play-circle"></span> Play Scale</a> <h4>You have {{playCounter}} plays remaining</h4></div>
</div>
<div class="instructionContainer">
    <h3>Please choose a scale:</h3>
</div>
<div id="answerChoicesContainer">
    <label class="answerChoices" ng-repeat="scale in allScales">
        <input style="inline-block" type="radio" value="{{scale.scale}}" ng-model="$parent.answer"/><div></div>{{scale.scale}}
    </label>
</div>
<div class="checkAnswerContainer">
    <a style="padding: 5px;" ng-if="currentAnswer == null" href="#" class="btn btn-xs btn-primary" ng-click="checkScaleAnswer(answer)"><span class="glyphicon glyphicon-ok"></span> Check Scale</a>
</div>
<div class="answers" ng-if="currentAnswer === true">
    <h4>That's correct! </h4>
</div>
<div class="answers" ng-if="currentAnswer === true">
    <a href="#" class="btn btn-primary btn-primary" onclick="window.location.href='/scalesGame'"><span class="glyphicon glyphicon-music"></span> Next Scale</a>
</div>
<div class="answers" ng-if="currentAnswer === false">
    <h4>Sorry, but the correct answer is {{currentScale.scale}} </h4>
</div>
<div class="answers" ng-if="currentAnswer === false">
    <a href="#" class="btn btn-primary btn-primary" onclick="window.location.href='/scalesGame'"><span class="glyphicon glyphicon-music"></span> Next Scale</a>
</div>
<div class="answers">
    <h4>Number of right/wrong</h4>
</div>
<div class="pointsContainer">
    <div class="points"  id="something" ng-repeat="cindex in scaleScoring track by $index">
        <br>
        <div class="truePoint" ng-if="cindex == true"></div>
        <div class="falsePoint" ng-if="cindex == false"></div>
        <div class="emptyPoint" ng-if="cindex == null"></div>
    </div>
    <div ng-if="filter.length != 0"><h5>You have {{filter.length}} out of 10 correct!</h5></div>
</div>
<div ng-if="filter.length >= 8" class="answers">
    <p>You are the bees knees!</p>
</div>
<div ng-if="filter.length >= 8" class="answers">
    <a href="#" class="btn btn-primary btn-primary" ng-click="nextScaleLevel()">Advance Level</a>
    <!--<input type="button" value="Advance to the next level!" ng-click="nextScaleLevel()"/>-->
</div>

</body>
</html>

<script src="//npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>