<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">


<head>
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->

    <meta charset="UTF-8">
    <title>Musictheorytrianer</title>
        <title>Musictheorytrainer</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/Audiolet.js"></script>
    <script src="../static/js/Audiolet.js"></script>
    <script src="js/midi-controller.js"></script>
    <script src="../static/js/midi-controller.js"></script>
    <script src="js/teoria.js"></script>
    <script src="../static/js/teoria.js"></script>

</head>
<body ng-controller="midi-controller">

<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTJQhNprdLuqdK__vEoQfoaC5n9equzV-0rRfuR92U15GISME8VUmZVlQ">
Music Theory Trainer

<div id="boo"></div>

<!--<div id="boo2">I'm Div2</div>-->
<!--<div id="input">I'm the input div</div>-->
<!--<input type="text" placeholder="Note to Present onto the stave" ng-model="noteContainer" ng-bind="noteContainer"> -->
<input type="text" placeholder="Note" ng-model="noteContainer.note" ng-bind="noteContainer.note">
<input type="text" placeholder="Octave" ng-model="noteContainer.octave" ng-bind="noteContainer.octave">



<!--<input type="button" value="Play Interval" ng-click="">-->
<!--<input type="button" ng-click="score()" value="Show score"/>-->
<input type="button" value="Print note on score" ng-click="userInput(noteContainer)"/>
</body>

</html>

<script src="https://npmcdn.com/vexflow@1.2.83/releases/vexflow-debug.js"></script>
<script src="js/score.js"></script>
<script src="../static/js/score.js"></script>

