<!DOCTYPE html>
<html lang="en" ng-app="MidiApp">
<!--
{{! changing the mustache delimiter so it doesn't conflict with  }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info  }}
{{=<% %>=}}
--->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    Test
    <br><br><br>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" >
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/testjs.js"></script>
<script src="../static/js/testjs.js"></script>
<body ng-controller="testjs">
<!--<div class="trueBox"></div>-->
<!--<div class="falseBox"></div>-->

</body>
</html>